<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfers</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
<div th:switch="${transfers}">
    <h2 th:case="null">No transfers yet!</h2>
    <div th:case="*">
        <h2>Transfers</h2>
        <table>
            <h3>
                <thead>
                <tr>
                    <th>Transfer amount</th>
                    <th>Transfer status</th>
                    <th>Transfer date</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transfer : ${transfers}">
                    <td th:text="${transfer.transferAmount}"></td>
                    <td th:text="${transfer.transferStatus}"></td>
                    <td th:text="${transfer.transferDate}"></td>
                    <td th:text="${transfer.sender.accountNumber}"></td>
                    <td th:text="${transfer.receiver.accountNumber}"></td>
                    <td>
                        <form th:action="@{/operator/acceptTransfer(transfer=${transfer.id})}" method="post">
                            <button type="submit">Accept</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/operator/declineTransfer(transfer=${transfer.id})}" method="post">
                            <button type="submit">Decline</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </h3>
        </table>
    </div>
</div>
<p><a href="/operator">Back</a></p>
</body>
</html>