<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
<div th:switch="${tariffs}">
    <h2 th:case="null">No tariffs yet!</h2>
    <div th:case="*">
        <h2>Tariffs</h2>
        <a href="/user/deposits">Back</a>
        <table>
            <h3>
                <thead>
                <tr>
                    <th>Min cash</th>
                    <th>Max cash</th>
                    <th>Month</th>
                    <th>Interest rate</th>
                    <th>Closable</th>
                    <th>Replenishable</th>
                    <th>Withdrawable</th>
                    <th>Capitalized</th>
                    <th>Cash</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tariff : ${tariffs}">
                    <td th:text="${tariff.minCash}"></td>
                    <td th:text="${tariff.maxCash}"></td>
                    <td th:text="${tariff.month}"></td>
                    <td th:text="${tariff.interestRate}"></td>
                    <td th:text="${tariff.closable}"></td>
                    <td th:text="${tariff.replenishable}"></td>
                    <td th:text="${tariff.withdrawable}"></td>
                    <td th:text="${tariff.capitalized}"></td>
                    <td>
                        <form th:action="@{/user/openDeposit(tariff=${tariff.id})}" th:object="${cash}" method="post">
                            <input type="text" th:field="*{cash}" id="cash" placeholder="Cash" min="0">
                            <span th:if="${#fields.hasErrors('cash')}" th:errors="*{cash}">
                                 Must be more then 0
                            </span>
                            <button type="submit">Open deposit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </h3>
        </table>
    </div>
</div>
</body>
</html>