<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
<div th:switch="${deposits}">
    <h2 th:case="null">No deposits yet!</h2>
    <div th:case="*">
        <h2>Deposits</h2>
        <a href="/user/addDeposit">Add new deposit</a>
        <table>
            <h3>
                <thead>
                <tr>
                    <th>Balance</th>
                    <th>Date end</th>
                    <th>Min cash</th>
                    <th>Max cash</th>
                    <th>Month</th>
                    <th>Interest rate</th>
                    <th>Closable</th>
                    <th>Replenishable</th>
                    <th>Withdrawable</th>
                    <th>Capitalized</th>
                    <th>Automatic renewal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deposit : ${deposits}">
                    <td th:text="${deposit.balance}"></td>
                    <td th:text="${deposit.dateEnd}"></td>
                    <td th:text="${deposit.tariff.minCash}"></td>
                    <td th:text="${deposit.tariff.maxCash}"></td>
                    <td th:text="${deposit.tariff.month}"></td>
                    <td th:text="${deposit.tariff.interestRate}"></td>
                    <td th:text="${deposit.tariff.closable}"></td>
                    <td th:text="${deposit.tariff.replenishable}"></td>
                    <td th:text="${deposit.tariff.withdrawable}"></td>
                    <td th:text="${deposit.tariff.capitalized}"></td>
                    <td th:text="${deposit.automaticRenewal}"></td>
                    <td>
                        <a th:href="@{/user/replenishDeposit/{depositId}(depositId=${deposit.id})}">
                            Replenish deposit
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/user/withdrawDeposit/{depositId}(depositId=${deposit.id})}">
                            Withdraw funds
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/user/closeDeposit(deposit=${deposit.id})}" method="post">
                            <button type="submit">Close deposit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/user/automaticRenewalDeposit(deposit=${deposit.id})}" method="post">
                            <button type="submit">Automatic renewal</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </h3>
        </table>
    </div>
</div>
<p><a href="/user">Back</a></p>
</body>
</html>