<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
<div th:switch="${tariffs}">
    <h2 th:case="null">No tariffs yet!</h2>
    <div th:case="*">
        <h2>Tariffs</h2>
        <a href="/operator/addTariff">Add new tariff</a>
        <table>
            <h3>
                <thead>
                <tr>
                    <th>Min cash</th>
                    <th>Max cash</th>
                    <th>Month</th>
                    <th>Interest rate</th>
                    <th>Closable</th>
                    <th>Replenishable</th>
                    <th>Withdrawable</th>
                    <th>Capitalized</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tariff : ${tariffs}">
                    <td th:text="${tariff.minCash}"></td>
                    <td th:text="${tariff.maxCash}"></td>
                    <td th:text="${tariff.month}"></td>
                    <td th:text="${tariff.interestRate}"></td>
                    <td th:text="${tariff.closable}"></td>
                    <td th:text="${tariff.replenishable}"></td>
                    <td th:text="${tariff.withdrawable}"></td>
                    <td th:text="${tariff.capitalized}"></td>
                    <td>
                        <a th:href="@{/operator/editTariff/{tariffId}(tariffId=${tariff.id})}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/operator/deleteTariff(tariff=${tariff.id})}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </h3>
        </table>
    </div>
</div>
<p><a href="/operator">Back</a></p>
</body>
</html>