<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
<div th:switch="${credits}">
    <h2 th:case="null">No banks yet!</h2>
    <div th:case="*">
        <h2>Credits</h2>
        <table>
            <h5>
                <thead>
                <tr>
                    <th>Credit amount</th>
                    <th>Credit amount with interest rate</th>
                    <th>Credit term</th>
                    <th>Credit overpayment</th>
                    <th>Penalties</th>
                    <th>Credit status</th>
                    <th>Credit Payments</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credit : ${credits}">
                    <td th:text="${credit.creditAmount}"></td>
                    <td th:text="${credit.creditAmountWithInterestRate}"></td>
                    <td th:text="${credit.creditTerm}"></td>
                    <td th:text="${credit.creditOverpayment}"></td>
                    <td th:text="${credit.penalties}"></td>
                    <td th:text="${credit.creditStatus}"></td>
                    <td th:text="${credit.creditPayments}"></td>
                    <td>
                        <a th:href="@{/user/repayCredit/{creditId}(creditId=${credit.creditId})}">
                            Choose
                        </a>
                    </td>
                </tr>
                </tbody>
            </h5>
        </table>
    </div>
</div>
<p><a href="/user/chooseCardsForRepay">Back</a></p>
</body>
</html>