<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
    <div th:switch="${bankAccounts}">
        <h2 th:case="null">No bank accounts yet!</h2>
        <div th:case="*">
            <h2>Bank accounts</h2>
            <table>
                <h3>
                    <thead>
                    <tr>
                        <th>Account number</th>
                        <th>Money type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bankAccount : ${bankAccounts}">
                        <td th:text="${bankAccount.accountNumber}"></td>
                        <form th:action="@{/user/creditCardRequest(bankAccount=${bankAccount.id})}"
                              th:object="${moneyType}"
                              method="post">
                            <td>
                                <select th:field="*{moneyType}">
                                    <option th:value="DOLLAR" th:text="Dollar"></option>
                                    <option th:value="EURO" th:text="Euro"></option>
                                    <option th:value="RUBLE" th:text="Ruble"></option>
                                </select>
                            </td>
                            <td>
                                <button type="submit">Send request on credit card</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </h3>
            </table>
        </div>
    </div>
    <p><a href="/user">Back</a></p>
</body>
</html>