<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
    <div th:switch="${banks}">
        <h2 th:case="null">No banks yet!</h2>
        <div th:case="*">
            <h2>Banks</h2>
            <table>
                <h3>
                    <thead>
                        <tr>
                            <th>Bank name</th>
                            <th>Bik</th>
                            <th>Commission</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bank : ${banks}">
                            <td th:text="${bank.name}"></td>
                            <td th:text="${bank.bik}"></td>
                            <td th:text="${bank.commission}"></td>
                            <td>
                                <form th:action="@{/user/choiceBank(bank=${bank.id})}" method="post">
                                    <button type="submit">Choose</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </h3>
            </table>
        </div>
    </div>
    <p><a href="/user">Back</a></p>
</body>
</html>