<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Operator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>

<div th:switch="${creditCards}">
    <h2 th:case="null">No credit card request yet!</h2>
    <div th:case="*">
        <h2>Credit cards</h2>
        <table>
            <thead>
            <tr>
                <th>Account number</th>
                <th>Money type</th>
                <th>Email</th>
                <th>First name</th>
                <th>Second name</th>
                <th>Patronymic</th>
                <th>Birth date</th>
                <th>Sex</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="creditCard : ${creditCards}">
                <td th:text="${creditCard.accountNumber}"></td>
                <td th:text="${creditCard.moneyType}"></td>
                <td th:text="${creditCard.email}"></td>
                <td th:text="${creditCard.firstName}"></td>
                <td th:text="${creditCard.secondName}"></td>
                <td th:text="${creditCard.patronymic}"></td>
                <td th:text="${creditCard.birthDate}"></td>
                <td th:text="${creditCard.sex}"></td>
                <td>
                    <a th:href="@{/operator/acceptCreditCard/{creditCardId}(creditCardId=${creditCard.id})}">
                        Accept
                    </a>
                </td>
                <td>
                    <form th:action="@{/operator/declineCreditCard(creditCard=${creditCard.id})}" method="post">
                        <button type="submit">Decline</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<a href="/operator">Back</a>
</body>
</html>