<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
    <div th:switch="${banks}">
        <h2 th:case="null">No banks yet!</h2>
        <div th:case="*">
            <h2>Banks</h2>
            <table>
                <h3>
                    <thead>
                    <tr>
                        <th>Bank name</th>
                        <th>Commission</th>
                        <th>Bik</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bank : ${banks}">
                        <td th:text="${bank.name}"></td>
                        <td th:text="${bank.commission}"></td>
                        <td th:text="${bank.bik}"></td>
                        <td>
                            <a th:href="@{/operator/choiceBank/{bankId}(bankId=${bank.id})}">
                                Choose
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </h3>
            </table>
        </div>
    </div>
    <p><a href="/operator">Back</a></p>
</body>
</html>