<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h2>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <p>
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">4
                    Username error! Must be move than 4
                </span>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="text" th:field="*{password}" id="password" placeholder="Password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password error! Must be move than 4
                </span>
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    Incorrect email
                </span>
            </p>
            <p>
                <label for="firstName">First name</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    Must not be empty!
                </span>
            </p>
            <p>
                <label for="secondName">Second name</label>
                <input type="text" th:field="*{secondName}" id="secondName" placeholder="Second name">
                <span th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">
                    Must not be empty!
                </span>
            </p>
            <p>
                <label for="patronymic">Patronymic</label>
                <input type="text" th:field="*{patronymic}" id="patronymic" placeholder="Patronymic">
            </p>
            <p>
                <label for="birthDate">Birth date</label>
                <input type="text" pattern="\d{4}-\d{1,2}-\d{1,2}" class="datepicker" th:field="*{birthDate}" id="birthDate" placeholder="YYYY-MM-DD">
            </p>
            <p>
                <select th:field="*{sex}">
                    <option th:value="MALE" th:text="Male"></option>
                    <option th:value="FEMALE" th:text="Female"></option>
                </select>
            </p>
            <input type="submit" value="Registration">
        </form>
    </h2>
    <p><a href="/">Back</a></p>
</body>
</html>