<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Receiver</p>
    <p><a th:href="@{/user/transferCardOnAccount/{creditCard}(creditCard=${creditCardId})}">Bank account</a></p>
    <p><a th:href="@{/user/transferCardOnCard/{creditCard}(creditCard=${creditCardId})}">Credit card</a></p>
    <p><a href="/user/chooseCardForTransfer">Back</a></p>
</body>
</html>