<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
    <div th:switch="${bankAccounts}">
        <h2 th:case="null">No bank accounts yet!</h2>
        <div th:case="*">
            <h2>Bank accounts</h2>
            <table>
                <h3>
                    <thead>
                    <tr>
                        <th>Account number</th>
                        <th>Cash</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bankAccount : ${bankAccounts}">
                        <td th:text="${bankAccount.accountNumber}"></td>
                        <td th:text="${bankAccount.cash}"></td>
                        <td>
                            <a th:href="@{/user/transferAccountTo/{bankAccount}(bankAccount=${bankAccount.id})}">
                                Choose
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </h3>
            </table>
        </div>
    </div>
<p><a href="/user/openTransfer">Back</a></p>
</body>
</html>