<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Receiver</p>
    <p><a th:href="@{/user/transferOnAccount/{bankAccount}(bankAccount=${bankAccountId})}">Bank account</a></p>
    <p><a th:href="@{/user/transferOnCard/{bankAccount}(bankAccount=${bankAccountId})}">Credit card</a></p>
    <p><a href="/user/chooseAccountForTransfer">Back</a></p>
</body>
</html>