<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <style>
        table td{
        vertical-align:top;
        border:solid 1px #888;
        padding:10px;
        }
    </style>
</head>
<body>
    <div th:switch="${creditCards}">
        <h2 th:case="null">No credit cards yet!</h2>
        <div th:case="*">
            <h2>Credit cards</h2>
            <table>
                <h3>
                    <thead>
                    <tr>
                        <th>Credit limit sum</th>
                        <th>Interest rate</th>
                        <th>Cash</th>
                        <th>Date end</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="creditCard : ${creditCards}">
                        <td th:text="${creditCard.creditLimitSum}"></td>
                        <td th:text="${creditCard.interestRate}"></td>
                        <td th:text="${creditCard.bankAccount.cash}"></td>
                        <td th:text="${creditCard.dateEnd}"></td>
                        <td>
                            <a th:href="@{/user/transferCardTo/{creditCardId}(creditCardId=${creditCard.id})}">
                                Choose
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </h3>
            </table>
        </div>
    </div>
    <p><a href="/user">Back</a></p>
</body>
</html>